@charset "UTF-8";
/* CSS Document */

@import url(http://weloveiconfonts.com/api/?family=entypo);
@import url(https://fonts.googleapis.com/css?family=Lato:300);
/*@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);*/

@font-face {
    font-family: '../fonts/Open_Sans/OpenSans-Regular';
    src: url('../fonts/Open_Sans/OpenSans-Regular.eot');
    src: url('../fonts/Open_Sans/OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Open_Sans/OpenSans-Regular.woff') format('woff'),
         url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}

* { 
    margin: 0; 
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
   /* overflow-x: hidden;  */
}


body, html { height: 100%; -webkit-font-smoothing: antialiased; }
ul { list-style-type: none; }
a { text-decoration: none; }
::-webkit-scrollbar { display: none; }
h1, h2, h3, h4, h5, h6, p { color: #e9ece5; letter-spacing: 2px; line-height: 20px; }
h1, h2, h3, h4, h5, h6 { font-family: 'Lato', sans-serif; font-weight: 300; }
p { font-family: 'OpenSans-Regular', sans-serif; color: #262626; }

h1 { font-size: 2.5em;  font-weight: 900;}
h2 { font-size: 1.5em; 	font-weight: 900; }
h3 { font-size: 1.17em; font-weight: 400;}
h4 { font-size: 1.12em; font-weight: 400;}
h5 { font-size: .83em;  font-weight: 400; }
h6 { font-size: .8em;   font-weight: 400; }
p  { font-size: .8em; 	}


.bg-logo {
    position: absolute;
    z-index: 0;
    opacity: .1;
    top: -200px;
    margin: 0 auto;
    left: 0;
    right: 0;
}

/*--Slide Menu
==============================================================================================*/
#transformicon {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 0;
    margin: 10px;
    top: 15px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 1000;
    background-color: #262626;
}

#transformicon span {
    position: absolute;
    height: 3px;
    width: 30px;
    background: #e9ece5;
    margin-top: 13px;
    margin-left: 10px;
}

#transformicon span:nth-child(1) { top: 0px; }
#transformicon span:nth-child(2) { top: 10px; } 
#transformicon span:nth-child(3) { top: 20px; }

#transformicon.open span:nth-child(1) {
    top: 18px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
}

#transformicon.open span:nth-child(2) { opacity: 0; left: -60px; }

#transformicon.open span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

#transformiconSpace {
    height: 75px;
    width: 175px;
    background-color: #262626;
    border-bottom: 1px solid #000000;
}

.cbp-spmenu { position: fixed; background: #262626; }

.cbp-spmenu-vertical {
    width: 225px;
    height: 100%;
    top: 0;
    z-index: 100;
}

.cbp-spmenu-vertical a {
    font-family: 'Lato', sans-serif;
    border-bottom: 1px solid #000000;
    padding: 15px 15px 15px 45px;
    color: #e9ece5;
    letter-spacing: 2px;
    line-height: 20px;
    cursor: pointer;
    text-align: left;
    text-transform: uppercase;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

nav ul li {
    position: relative;
}
nav ul li img {
    position: absolute;
    width: 20px;
    bottom: 10px;
    left: 10px;
    height: 30px;
}

.cbp-spmenu-vertical a:hover { color: #61e3d3; }
.cbp-spmenu-right { right: -240px; }
.cbp-spmenu-right.cbp-spmenu-open { right: 0px; }
.cbp-spmenu a { display: block; }

.cbp-spmenu {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

/*===================================

Landing Page

===================================*/
#landing {
    position: relative;
	min-height: 500px;
    height: 50%;
    width: 100%;
    background: url('../img/backgrounds/landing.jpg') no-repeat center center;
    background-color: #262626;
}

#landing:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0px 0px 220px black inset;
    pointer-events:none;
    z-index:2;
 }

 #heading {
    margin: 0 auto;
    max-width: 367px;
    text-align: right;
 }

#landing h1 { 
    margin: 0px auto 0 auto; 
    letter-spacing: 2.5px;
    color: #e9ece5;
    padding-top: 60px;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 25px;
    text-shadow: 2px 2px #000;
} 

#landing h1#heading {
    font-weight: 300;
    padding-top: 0;
    letter-spacing: 6px;
    padding-top: 5px;
}

#landing h6  {
    text-align: center;
    padding-top: 5px;
    letter-spacing: 5px;
    text-shadow: 2px 2px #000;
    font-weight: 300;
}

#tagline { position: relative; }

#tagline hr {
    position: absolute;
    width: 50px;
    top: 15px;
}

#secondHR { right: 0; }

#landing img { 
    margin: 40px auto 0px auto; 
    display: table; 
    height: 240px;
}

/*===================================

About 

===================================*/
#about {
    height: auto;
    width: 100%;
    background-color: #262626;
    overflow: hidden;
    position: relative;
}

#about .row, .project-container .row { position: relative; }

#about .row { padding: 50px 0; }

#about h2, .project-container h2 { 
    text-transform: uppercase;
    color: #e9ece5; 
    font-weight: 400;
}

#about hr, .project-container hr {
    margin: 10px 0 35px 0;
    width: 140px;
    background-color: #e9ece5;
    border: 0 none;
    height: 2px;
}

#about h4, .project-copy h4  { 
    max-width: 600px; 
    font-family: 'OpenSans-Regular', sans-serif;
    font-weight: 300;
    color: #e9ece5;
    letter-spacing: 2px;
    line-height: 20px;
}

/*===================================

Project info

===================================*/
.project-container {
    position: relative;
    height: auto;
    width: 100%;
    background-color: #262626;
    overflow: hidden;
}

.project-landing h1 {
    color: #e9ece5;
    text-transform: uppercase;
    padding-top: 50px;
}

.project-landing h1 span {
    color: #61e3d3;
    font-weight: 400;
}

.project-container .row { padding: 50px 0; }


.project-links {
    position: relative;
    background-color: #323232;
    border-top: double 30px #61e3d3;
}

.project-container .project-links .row {
    padding: 0;
}
.project-copy-right {
    max-width: 600px; 
    float: right;
    text-align: right;
    margin: 50px 0;
}

.project-copy-right h4 {
    text-transform: uppercase;
    margin-bottom: 2px;
}

.project-copy-right a {
    font-family: 'Lato', sans-serif;
    color: #61e3d3;
    line-height: 22px;
    text-transform: uppercase;
}

ul.project-buttons {
    display: table;
    margin: 0 auto;
}

ul.project-buttons li { float: left; }

.project-buttons .button {
    height: 50px;
    width: 200px;
    padding-top: 15px;
    background-color: #262626;
    border: 2px solid #61e3d3;
    margin: 20px;
    outline: none !important;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.project-buttons a.button {
    text-align: center;
    color: #61e3d3;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
}

.project-buttons a.button:hover { 
    background-color: #61e3d3;
    border: 2px solid #262626;
    color: #262626;
}

.project-buttons li a.home-logo {
    background: transparent;
    position: relative;
    top: 20px;
}

.project-buttons li a.home-logo img { height: 50px; }

/*===================================

Thumbnails

===================================*/
#thumb-container { background-color: #e9ece5;  }

#thumbnails { padding: 25px 0; }

.work  {
    position: relative;
    margin: 0 auto;
    display: table;
    padding-bottom: 25px;
}

.work img { height: 135px; }


#thumbnails.row .six.columns h2 {
    position: absolute;
    top: 100px;
    left: 30px;
    color: #e9ece5;
    text-transform: uppercase;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

#thumbnails.row .six.columns h5 {
    position: absolute;
    top: 130px;
    left: 30px;
    color: #e9ece5;
    max-width: 400px;
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

#thumbnails figure.tint { 
    margin: 0 0 20px 0; 
    float: left; 
    background: #000;
    overflow: hidden;
}

#thumbnails figurecaption h2 span { color: #61e3d3; font-weight: 400; }

#thumbnails.row .six.columns img {
    opacity: .5;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

#thumbnails.row .six.columns:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .3;
    cursor: pointer;
}



/*===================================

Gallery Styles

===================================*/
.gallery h2 {
    margin: 0 auto;
    display: table;
    color: #262626;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5em;
    margin-top: 30px;
}

.gallery hr {
    margin: 10px auto 35px auto;
    width: 225px;
    background-color: #262626;
    border: 0 none;
    height: 2px;
}

.gallery {
    padding: 50px 0 35px 0;
    background-color: #e9ece5;
}

.gallery ul.row { border-bottom: 1px dotted black; }

.gallery ul li a {
    margin: 0 0 20px 0; 
    float: left; 
    background: #000;
    overflow: hidden;
}

.img-gallery img {
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.img-gallery:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
    opacity: .3;
    cursor: pointer;
}


/*===================================

Visceral Velocity Page

===================================*/
#visceral_reality-landing {
    position: relative;
    background: url('../img/backgrounds/visceral_reality.jpg') left center no-repeat;
    min-height: 500px;
    height: 50%;
    width: 100%;
    background-color: #262626;
}

#visceral_reality-landing:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0px 0px 220px black inset;
    pointer-events:none;
    z-index:2;
}


/*===================================

LC 500 Soundbooth Page

===================================*/
#LC_soundbooth-landing {
    position: relative;
    background: url('../img/backgrounds/LC_soundbooth.jpg') center center no-repeat;
    min-height: 500px;
    height: 50%;
    width: 100%;
    background-color: #262626;
}

#LC_soundbooth-landing:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0px 0px 220px black inset;
    pointer-events:none;
    z-index:2;
}

/*===================================

Lit IS 

===================================*/
#litIS-landing {
    position: relative;
    background: url('../img/backgrounds/litIS.jpg') no-repeat center center;
    min-height: 500px;
    height: 50%;
    width: 100%;
    background-color: #262626;
}

#litIS-landing:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0px 0px 220px black inset;
    pointer-events:none;
    z-index:2;
}

/*===================================

Holograms Page

===================================*/
#hologram-landing {
    position: relative;
    background: url('../img/backgrounds/hologram.jpg') no-repeat center center;
    min-height: 500px;
    height: 50%;
    width: 100%;
    background-color: #262626;
}

#hologram-landing:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0px 0px 220px black inset;
    pointer-events:none;
    z-index:2;
}

/*===================================

EEG Page

===================================*/
#eeg-landing {
    position: relative;
    background: url('../img/backgrounds/eeg.jpg') no-repeat center center;
    min-height: 500px;
    height: 50%;
    width: 100%;
    background-color: #262626;
}

#eeg-landing:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0px 0px 220px black inset;
    pointer-events:none;
    z-index:2;
}


/*===================================

The Huddles Page

===================================*/
#the-huddles-landing {
    position: relative;
    background: url('../img/backgrounds/huddles.jpg') no-repeat center left;
    min-height: 500px;
    height: 50%;
    width: 100%;
    background-color: #262626;
}

#the-huddles-landing:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0px 0px 220px black inset;
    pointer-events:none;
    z-index:2;
}


/*===================================

paperproto 

===================================*/
#paperproto-landing {
    position: relative;
    background: url('../img/backgrounds/paperproto1.jpg') no-repeat center center;
    min-height: 500px;
    height: 50%;
    width: 100%;
    background-color: #262626;
}

#paperproto-landing:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0px 0px 220px black inset;
    pointer-events:none;
    z-index:2;
}


/*===================================

Dustin's Words

===================================*/
#dustins-words-landing {
    position: relative;
    background: url('../img/backgrounds/dustins-words.jpg') no-repeat center center;
    min-height: 500px;
    height: 50%;
    width: 100%;
    background-color: #262626;
}

#dustins-words-landing:before {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "";
    box-shadow: 0px 0px 220px black inset;
    pointer-events:none;
    z-index:2;
}

/*========================

Footer

========================*/
footer {
    background: #262626;
    height: 205px;
    width: 100%;
    overflow: hidden;
}

footer ul {
    overflow: auto;
    margin: 100px auto 0 auto;
    display: table;
}

footer li { display: inline; margin: 15px; }

footer ul li a { 
    color: #e9ece5;
    font-size: 1.7em;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

footer ul li a:hover { color: #61e3d3; }

footer p {
    position: relative;
    color: #e9ece5;
    top: 20px;
    font-size: 0.625em;
    text-align: center;
    font-family: 'Lato', sans-serif;
}


/* 2001 */
@media only screen and (min-width: 125.063em) {
    #landing { background: url('../img/backgrounds/large/landing_big.jpg') no-repeat center center; }
    #visceral_reality-landing  { background: url('../img/backgrounds/large/visceral_reality_big.jpg') no-repeat center center; }
    #LC_soundbooth-landing  { background: url('../img/backgrounds/large/LC_soundbooth_big.jpg') no-repeat center center; }
    #litIS-landing  { background: url('../img/backgrounds/large/litIS_big.jpg') no-repeat center center; }
    #hologram-landing  { background: url('../img/backgrounds/large/hologram.jpg') no-repeat center center; }
    #eeg-landing { background: url('../img/backgrounds/large/eeg_big.jpg') no-repeat center center; }
    #the-huddles-landing { background: url('../img/backgrounds/large/huddles_big.jpg') no-repeat center center; }
    #paperproto-landing { background: url('../img/backgrounds/large/paperproto1_big.jpg') no-repeat center center; }
    #dustins-words-landing  { background: url('../img/backgrounds/large/dustins-words_big.jpg') no-repeat center center; }
}



/* 1000 */
@media only screen and (max-width: 62.500em) {
    #description { padding: 0 10px; }
    #about h2 { padding: 30px 20px 0 20px; }
    #about div  { margin: 0 20px; }
    #about hr { margin: 10px 20px 35px 20px; }
    .project-container h2, .project-container h4, .project-container a { padding: 0 20px; }
    .project-container hr { margin: 10px 20px 35px 20px; }
}

/* 768 */
@media only screen and (max-width: 48.000em) {
    #thumbnails.row .six.columns h2, #thumbnails.row .six.columns h5 {
        opacity: 1;
    }
    #thumbnails.row .six.columns img {
        opacity: .5;
    }
    .gallery ul li a {
        float: none;
        margin: 0 auto;
        display: table;
    }
    ul.project-buttons li {
        float: none;
}

/* 500 */
@media only screen and (max-width: 31.250em) {
    #about h4, .project-container h4  { font-size: 1.5em; line-height: 30px; }
    .project-landing h1 { line-height: 45px; padding: 50px 20px 0 20px; letter-spacing: 0; }
    footer ul li#resume { display: none; }
    footer p { font-size: .8em; }
}

/* 450px */
@media only screen and (max-width: 28.125em) {
    #heading    { max-width: 300px; padding-top: 30px; }
    #heading h1 { font-size: 2em; line-height: 26px; letter-spacing: 23px; }
    #tagline h6 { font-size: .5em; }
    #tagline hr { width: 45px; }
    #about h4, .project-copy h4   { font-size: 1.3em; line-height: 30px; }
    .bg-logo    { position: absolute;
                z-index: 0;
                opacity: .1;
                margin: 0 auto;
                width: 350%; }
    #about h2, .project-container h2  { font-size: 2em; }
    figurecaption h2  { font-size: 1.8em;  }
    #about hr, .project-container hr   { width: 180px; }
    figurecaption h5 { font-size: 1em; }
    footer ul { margin: 75px auto 0 auto; }
    footer ul li a { font-size: 2.3em; }

    div.gallery div.row { display: none; }
}

/* 400px */
@media only screen and (max-width: 25.000em) {
    ul.project-buttons li {
    float: none;
    }

    figurecaption h2 { letter-spacing: 0px; }
}

/* 350 */
@media only screen and (max-width: 21.875em) {
    #heading    { max-width: 275px; }
    #heading h1   { font-size: 1.5em; }
    #tagline hr { width: 35px; }
}




