@charset "UTF-8";
/* CSS Document */
@import url(http://www.markmurray.co/codepen/entypostyle.css);

/* entypo */
[class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
    -webkit-transition: .2s ease-in-out;
    -moz-transition: .2s ease-in-out;
    -o-transition: .2s ease-in-out;
    transition: .2s ease-in-out;
}

html, a, p, h1, h2, h3, h4, h5, h6 {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    margin: 0;
}

body, html { height: 100%; }

::-webkit-scrollbar {  display: none; }


*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a { text-decoration: none; color: #00adff; }

h1, h2, h3, h4, h5, h6 {
    color: #ebebeb;
    letter-spacing: 2.5px;
    font-family: 'walkway_boldregular', Arial, sans-serif;
}

p { font-family: 'OpenSans-Regular', sans-serif; color: #ebebeb; }

h1 { font-size: 3em; }
h2 { font-size: 2.5em; }
h3 { font-size: 1.5em; }
h4 { font-size: 1.12em; }
h5 { font-size: 1.1em; font-weight: 600; }
h6 { font-size: .75em; }



/*--Contact Button in Desktop >>>>>> Takes you to footer
==============================================================================================*/

/*.contact-text {
    position: fixed;
    height: 100px;
    right: 0;
    top: 10vh;
    z-index: 1;
}

.contact-text i { color: #ebebeb; }

.contact-text a {
    position: absolute;
    right: 60px;
    border: 1px solid #ebebeb;
    padding: 12px;
    top: -20px;
    opacity: .4;
    background-color: transparent;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
}

.contact-text a:hover {
    opacity: 1;
    color: #00adff;
    background-color: #00adff;
}

.contact-text span {
    position: absolute;
    right: -20px;
    top: 70px;
    color: #00adff;
    opacity: 0;
    -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
}

 .contact-text a:hover span {
    opacity: 1;
    top: 60px;
    color: #ebebeb;
}
*/
/*--Slide Menu
==============================================================================================*/
/* Menu Icon */
.ui.button-square {
  display: inline-block;
  position: relative;
  line-height: 1;
  vertical-align: baseline;
  text-align: center;
  cursor: pointer;
  -webkit-user-select: none;
  /* Chrome all / Safari all */
  -moz-user-select: none;
  /* Firefox all */
  -ms-user-select: none;
  /* IE 10+ */
  user-select: none;
  width: 60px;
  height: 60px;
}

#menu-open {
  position: fixed;
  right: 7.5em;
  top: 0;
  background: transparent;
  color: #fff;
  z-index: 3100;
  -webkit-transition: all 0.3s ease 0.98s;
          transition: all 0.3s ease 0.98s;
}

#menu-open.active {
  background: #00adff;
  -webkit-transition: all 0.6s ease 0s;
          transition: all 0.6s ease 0s;
}

.menu-effect_1 i { padding-right: 10px; }

.icon-box-toggle {
  height: 100%;
  width: 100%;
  background: red;
  position: relative;
  display: none;
}

.icon-line-center, .icon-line-top, .icon-line-bottom {
  position: absolute;
  width: 26px;
  height: 2px;
  background: #fff;
  margin: -1px 0 0 -13px;
  left: 50%;
  top: 50%;
  -webkit-transition: all 0.2s ease;
          transition: all 0.2s ease;
}

.icon-line-top {
  margin: -3px 0 0 -13px;
  top: 40%;
}

.icon-line-bottom {
  margin: 1px 0 0 -13px;
  top: 60%;
}

.ef-1.active > i.icon-line-bottom {
  width: 16px;
  margin: 1px 0 0 -8px;
  -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
}

.ef-1.active > i.icon-line-top {
  width: 16px;
  margin: -3px 0 0 -8px;
  -webkit-transition: all 0.3s ease 0s;
          transition: all 0.3s ease 0s;
}

/* Menu Components */
.menu-main-overlay {
  background: #000;
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0;
  z-index: 800;
  -webkit-transition: all 0.3s ease 0.98s;
          transition: all 0.3s ease 0.98s;
    display: none;
}

.menu-main-overlay.active {
  opacity: 0.7;
  -webkit-transition: all 0.6s ease 0s;
          transition: all 0.6s ease 0s;
}

.menu-main-wrap {
  position: fixed;
  width: 60%;
  height: 100%;
  margin: 0;
  margin: 0px 0 0 -30%;
  left: 50%;
  padding: 0 80px;
  visibility: hidden;
  z-index: 2600;
  overflow: hidden;
}

.menu-main-wrap.active {
  visibility: visible;
}

ul.ui.menu {
  padding: 0px;
  padding-top: 4em;
}
ul.ui.menu li {
  display: block;
  list-style: none;
  position: relative;
  padding: 1.25em 0;
  text-transform: uppercase;
  font-size: 1.125rem;
}
ul.ui.menu li a {
  display: block;
  color: #fff;
  -webkit-transition:All .5s ease;
    -moz-transition:All .5s ease;
    -o-transition:All .5s ease;
}

/*ul.ui.menu li a:hover  { color: #00adff; }*/

.menu-effect_1 {
  text-align: center;
  background: #0f1117;
  width: 0px;
  height: 100%;
  margin: 0 auto;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.3s ease 0.98s;
          transition: all 0.3s ease 0.98s;
}

.menu-effect_1.active {
  width: 700px;
  opacity: 1;
  visibility: visible;
  -webkit-transition: all 0.6s ease 0s;
          transition: all 0.6s ease 0s;
}

.menu-effect_1 li {
  visibility: hidden;
  -webkit-transform: translate3d(280px, 0px, 0px);
          transform: translate3d(280px, 0px, 0px);
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
          transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.menu-effect_1.active li {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  visibility: visible;
  -webkit-transition: all 0.5s ease 0.58s;
          transition: all 0.5s ease 0.58s;
}

.menu-effect_1 li:nth-child(odd) {
  -webkit-transform: translate3d(-280px, 0px, 0px);
          transform: translate3d(-280px, 0px, 0px);
}

.menu-effect_1.active li:nth-child(2) {
  -webkit-transition-delay: 0.76s;
          transition-delay: 0.76s;
}

.menu-effect_1.active li:nth-child(3) {
  -webkit-transition-delay: 0.84s;
          transition-delay: 0.84s;
}

.menu-effect_1.active li:nth-child(4) {
  -webkit-transition-delay: 0.90s;
          transition-delay: 0.90s;
}

.menu-effect_1.active li:nth-child(5) {
  -webkit-transition-delay: 0.96s;
          transition-delay: 0.96s;
}

.menu-effect_1.active li:nth-child(6) {
  -webkit-transition-delay: 1.02s;
          transition-delay: 1.02s;
}

.menu-effect_1.active li:nth-child(odd) {
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
}

.menu-effect_1 li > span {
  display: block;
  margin: 0 auto;
  position: absolute;
  visibility: hidden;
  height: 0.0625em;
  width: 8.75em;
  margin: 1.25em 0 0 -4.375em;
  left: 50%;
  background: #fff;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  -webkit-transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
          transition: all 0.6s cubic-bezier(0.55, 0.055, 0.675, 0.19) 0s;
}

.menu-effect_1.active li > span {
  visibility: visible;
  width: 2.5em;
  -webkit-transform: translate3d(0px, 0px, 0px);
          transform: translate3d(0px, 0px, 0px);
  margin: 1.25em 0 0 -1.25em;
  left: 50%;
  -webkit-transition: all 0.5s ease 0.74s;
          transition: all 0.5s ease 0.74s;
}

@media screen and (max-width: 75em) {
  .menu-main-wrap {
    width: 100%;
    margin: 0px 0 0 0%;
    left: 0%;
  }

  .menu-effect_1.active {
    width: 80%;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.6s ease 0s;
            transition: all 0.6s ease 0s;
  }

  #menu-open {
    right: 0.25em;
  }
}

@media screen and (max-height: 43.75em) {
  .menu-main-wrap {
    padding: 0;
    /*height: auto;*/
  }

  ul.ui.menu {
    padding-top: 5.625em;
    padding-bottom: 5.625em;
  }

  .menu-effect_1.active {
    width: 100%;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.6s ease 0s;
            transition: all 0.6s ease 0s;
  }
}

@media screen and (max-width: 50em) {
  .menu-main-wrap {
    padding: 0;
    height: 100%;
  }

  ul.ui.menu {
    padding-top: 5.625em;
    padding-bottom: 5.625em;
  }

  .menu-effect_1.active {
    width: 100%;
    opacity: 1;
    visibility: visible;
    -webkit-transition: all 0.6s ease 0s;
            transition: all 0.6s ease 0s;
  }
}
.icon-box-toggle { display: block; }

/*.contentIcons i, #contact i  { position: relative; }
#contact i { border: 1px solid #ebebeb; }
*/
/*========================

Media Querries

========================*/



